<%= form_for(@contract) do |f| %>
    <% if @contract.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

            <ul>
                <% @contract.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
