<p id="notice"><%= notice %></p>

<h1>Listing Contracts</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @contracts.each do |contract| %>
        <tr>
            <td><%= contract.title %></td>
            <td><%= contract.description %></td>
            <td><%= link_to 'Show', contract %></td>
            <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
            <td><%= link_to 'Destroy', contract, method: :delete, data: {confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Contract', new_contract_path %>
