<%- model_class = Contract -%>

<div class="new_contract">
  <%= link_to 'New Contract', new_contract_path, :class => 'btn btn-primary' %>
</div>

<div class="page-header">
  <h1><%=t '.title', :default => 'Signed Contracts' %></h1>
</div>

<table class="table table-striped">
  <% if @contracts.length == 0 %>
    You don't have any signed contracts. Start by writing drafts!
  <% else %>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.id %></td>
        <td><%= contract.title %></td>
        <td><%= contract.description %></td>
        <td><%= contract.status %></td>
        <td>
          <% if !contract.signed_code_id.nil? %>
            <%= link_to t("Examine"), code_path(contract.signed_code_id), :class => 'btn btn-default' %>
            <% if !contract.sc_event_id.nil? %>
              <%= link_to 'Portal', {controller: "sc_events", action: "trigger", sc_event_id: contract.sc_event_id}, :class => 'btn btn-default' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
