<p id="notice"><%= notice %></p>

<p>
    <strong>Title:</strong>
    <%= @contract.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @contract.description %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
