<p id="notice"><%= notice %></p>

<h1>Listing Minutes</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Contract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minutes.each do |minute| %>
      <tr>
        <td><%= minute.message %></td>
        <td><%= minute.contract %></td>
        <td><%= link_to 'Show', minute %></td>
        <td><%= link_to 'Edit', edit_minute_path(minute) %></td>
        <td><%= link_to 'Destroy', minute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minute', new_minute_path %>
