<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @minute.contract %>
</p>

<p>
  <strong>User:</strong>
  <%= @minute.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @minute.message %>
</p>

<p>
  <strong>When:</strong>
  <%= @minute.when %>
</p>

<%= link_to 'Edit', edit_minute_path(@minute) %> |
<%= link_to 'Back', minutes_path %>
