<%= form_for(@code) do |f| %>
    <% if @code.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

            <ul>
                <% @code.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :version %><br>
        <%= f.text_field :version %>
    </div>
    <div class="field">
        <%= f.label :code %><br>
        <%= f.text_area :code %>
    </div>
    <div class="field">
        <%= f.label :contract_id %><br>
        <%= f.text_field :contract_id %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
