<p id="notice"><%= notice %></p>

<h1>Listing Codes</h1>

<table>
    <thead>
    <tr>
        <th>Version</th>
        <th>Code</th>
        <th>Contract</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @codes.each do |code| %>
        <tr>
            <td><%= code.version %></td>
            <td><%= code.code %></td>
            <td><%= code.contract.title %></td>
            <td><%= link_to 'Show', code %></td>
            <td><%= link_to 'Edit', edit_code_path(code) %></td>
            <td><%= link_to 'Destroy', code, method: :delete, data: {confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Code', new_code_path %>
