<%- model_class = Code -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Drafts' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:contract) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td><%= link_to code.contract.title, contract_path(code.contract) %></td>
        <td><%= code.version %></td>
        <td><%= code.author %></td>
        <td><%= code.state %></td>
        <td><%= link_to "Examine", code_path(code.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_code_path,
            :class => 'btn btn-primary' %>
