<%- model_class = Code -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Drafts' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:contract) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th>Interpreter</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td><%= code.contract.title %></td>
        <td><%= code.version %></td>
        <td><%= code.state.humanize %></td>
        <td><%= code.interpreter.blank? ? 'None' : code.interpreter.humanize %></td>
        <td><%= link_to "Examine", code_path(code.id), :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_code_path,
            :class => 'btn btn-primary' %>
