<%- model_class = Code -%>
<div class="page-header">
  <h1><%= @code.sign_state == 'Signed' ? 'Contract' : 'Draft' %></h1>
</div>

<dl>
  <dt>Contract</dt>
  <dd><%= link_to @code.contract.title, contract_path(@code.contract) %></dd>
  <dt>Version</dt>
  <dd><%= @code.version %></dd>
  <dt>Status</dt>
  <dd><%= @code.state %></dd>
</dl>

<textarea readonly rows="50" cols="80"><%= @code.code %></textarea>

<% if @code.proposed == "t" || @code.sign_state != 'Unsigned' %>
  <p>NOTE: As this draft has been submitted or signed, hence it cannot be edited. Create a duplicate to make alterations, which you can later submit as a separate proposal.</p>
<% end %>

<p>
  <% if @code.proposed != "t" && @code.sign_state == 'Unsigned' %>
    <%= link_to "Edit Code", edit_code_path(@code), :class => 'btn btn-default' %>
  <% else %>
    <%= link_to "Duplicate", action: "duplicate", code_id: @code.id %>
  <% end %>

  <% if (@code.proposed != "t" && @code.posted != "t") && @code.assign_state == 'Assigned' %>
    <%= link_to "Propose", action: "propose", code_id: @code.id %>
  <% elsif @code.proposed == "t" && (@code.sign_state == 'Pre-signed' || @code.sign_state == 'Unsigned') && @code.author == current_user %>
    <%= link_to "Retract", action: "retract", code_id: @code.id unless @code.state == 'Rejected' %>
  <% end %>

  <% if @code.posted != "t" && @code.sign_state == 'Pre-signed' && @code.assign_state == 'Self-assigned' %>
    <%= link_to "Post", action: "post", code_id: @code.id %>
  <% elsif @code.posted == "t" && @code.author == current_user && @code.state != 'Signed' %>
    <%= link_to "Unpost", action: "unpost", code_id: @code.id %>
  <% elsif @code.posted == "t" && @code.author != current_user && @code.state != 'Signed' %>
    <%= link_to "Accept", action: "accept", code_id: @code.id %>
  <% end %>

  <% if @code.proposed == "t" && @code.author != current_user && !@code.rejected %>
    <%= link_to "Reject", action: "reject", code_id: @code.id %>
  <% end %>
</p>

<h2>Signatures</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Role</th>
      <th>Party Name</th>
      <th>Signed</th>
      <th>Signature Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @code.parties.each do |party| %>
      <tr>
        <td><%= party.role %></td>
        <td>
          <% if @code.posted == "t" && party.user.nil? %>
            <%= 'Available' %>
          <% elsif party.user.nil? %>
            <%= form_for party, url: {controller: "parties", action: "assign", party_id: party.id} do |f| %>
              <%= f.select(:user, options_from_collection_for_select(User.all, :id, :name)) %>
              <%= f.submit "Assign" %>
            <% end %>
          <% elsif @code.proposed != "t" && party.state != 'Signed' %>
            <%= form_for party, url: {controller: "parties", action: "unassign", party_id: party.id} do |f| %>
              <%= party.user.name %>
              <%= f.submit "Unassign" %>
            <% end %>
          <% else %>
            <%= party.user.name %>
          <% end %>
        </td>
        <td><%= party.state == 'Signed' ? 'Yes' : 'No' %></td>
        <td><%= party.state == 'Signed' ?  party.updated_at : 'N/A' %></td>
        <td>
          <% if !party.user.nil? %>
            <% if party.user.id == current_user %>
              <% if party.state != 'Signed' && @code.state != 'Rejected' %>
                <%= link_to "Sign", controller: "parties", action: "sign", party_id: party.id %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
