<%= form_for(@sc_event_run) do |f| %>
  <% if @sc_event_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sc_event_run.errors.count, "error") %> prohibited this sc_event_run from being saved:</h2>

      <ul>
      <% @sc_event_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sc_event_id %><br>
    <%= f.text_field :sc_event_id %>
  </div>
  <div class="field">
    <%= f.label :run_at %><br>
    <%= f.datetime_select :run_at %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
