<p id="notice"><%= notice %></p>

<h1>Listing Sc Event Runs</h1>

<table>
  <thead>
    <tr>
      <th>Sc event</th>
      <th>Run at</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sc_event_runs.each do |sc_event_run| %>
      <tr>
        <td><%= sc_event_run.sc_event %></td>
        <td><%= sc_event_run.run_at %></td>
        <td><%= sc_event_run.result %></td>
        <td><%= link_to 'Show', sc_event_run %></td>
        <td><%= link_to 'Edit', edit_sc_event_run_path(sc_event_run) %></td>
        <td><%= link_to 'Destroy', sc_event_run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sc event run', new_sc_event_run_path %>
