<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @sc_event_run.sc_event.code.contract.id.to_s.rjust(8, "0") + ' : ' + @sc_event_run.sc_event.code.contract.title %>
  <% if @sc_event_run.sc_event.code.contract.description != "" %>
    <%= " : " + @sc_event_run.sc_event.code.contract.description %>
  <% end %>
</p>

<p>
  <strong>Event:</strong>
  <%= @sc_event_run.sc_event.callback %>
</p>

<p>
  <strong>Run at:</strong>
  <%= @sc_event_run.run_at %>
</p>

<p>
  <strong>Result:</strong>
</p>

<p>
  <% result = @sc_event_run.result.html_safe %>
  <%= result %>
</p>

<%= link_to 'Back', code_sc_events_path(code_id: @sc_event_run.sc_event.code.id) %>
