<p id="notice"><%= notice %></p>

<p>
  <strong>Run as:</strong>
  <%= @debug_run.user.username %>
</p>

<% if @debug_run.has_error %>
  <p>An error has occured</p>
<% end %>

<p>
  <strong>Output:</strong><br>
  <textarea readonly rows="10" cols="80"><%= @debug_run.output %></textarea>
</p>

<% post_state = JSON.parse(@debug_run.post_state) %>
<% post_state.each{ |k, v| %>
  <% content = [] %>
  <% case k %>
  <% when "minutes" %>
    <% content = v.collect{|e| e} %>
  <% when "log" %>
    <% content = v.collect{|e| e} %>
  <% when "values" %>
    <% content = v.collect{|k1, v1| "#{k1}: #{v1}"} %>
  <% else %>
    <% next %>
  <% end %>
  <p>
  <strong><%= k.humanize %>:</strong><br>
  <textarea readonly rows="10" cols="80"><%= content.join("\n") %></textarea>
  <p>
<% } %>

