<p id="notice"><%= notice %></p>

<h1>Listing Sc Values</h1>

<table>
  <thead>
    <tr>
      <th>Contract</th>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sc_values.each do |sc_value| %>
      <tr>
        <td><%= sc_value.contract %></td>
        <td><%= sc_value.key %></td>
        <td><%= sc_value.value %></td>
        <td><%= link_to 'Show', sc_value %></td>
        <td><%= link_to 'Edit', edit_sc_value_path(sc_value) %></td>
        <td><%= link_to 'Destroy', sc_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sc value', new_sc_value_path %>
