<%- model_class = ScEvent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:callback) %></th>
      <th><%= model_class.human_attribute_name(:code_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sc_events.each do |sc_event| %>
      <tr>
        <td><%= link_to sc_event.id, sc_event_path(sc_event) %></td>
        <td><%= sc_event.callback %></td>
        <td><%= sc_event.code.version %></td>
        <td><%=l sc_event.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sc_event_path(sc_event), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sc_event_path(sc_event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%=  link_to "Trigger", controller: "sc_events", action: "trigger", sc_event_id: sc_event.id if sc_event.code.state == 'Signed' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sc_event_path,
            :class => 'btn btn-primary' %>
