<%= form_for(@create_wallet) do |f| %>
  <% if @create_wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@create_wallet.errors.count, "error") %> prohibited this create_wallet from being saved:</h2>

      <ul>
      <% @create_wallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
