<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @create_wallet.currency %>
</p>

<p>
  <strong>Address:</strong>
  <%= @create_wallet.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @create_wallet.user %>
</p>

<%= link_to 'Edit', edit_create_wallet_path(@create_wallet) %> |
<%= link_to 'Back', create_wallets_path %>
