<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @contact.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.user %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
