<%- model_class = Party -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:code_id) %></th>
      <th><%= model_class.human_attribute_name(:role_id) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= link_to party.id, party_path(party) %></td>
        <td><%= party.user.name %></td>
        <td><%= party.code.version %></td>
        <td><%= party.role.name %></td>
          <td><%= party.state %></td>
        <td><%=l party.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_party_path(party), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      party_path(party),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% if party.user.id == session[:user_id] %>
            <%= link_to "Propose", controller: "parties", action: "propose", party_id: party.id %>
            <%= link_to "Sign", controller: "parties", action: "sign", party_id: party.id %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_party_path,
            :class => 'btn btn-primary' %>
