<%- model_class = Party -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:code_id) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= link_to party.id, party_path(party) %></td>
        <td>
          <% if party.user.nil? %>
            <%= form_for party, url: {action: "assign", party_id: party.id} do |f| %>
              <%= f.select(:user, options_from_collection_for_select(User.all, :id, :name)) %>
              <%= f.submit "Assign" %>
            <% end %>
          <% else %>
            <%= party.user.name %>
          <% end %>
        </td>
        <td><%= party.code.version %></td>
        <td><%= party.role %></td>
        <td><%= party.state %></td>
        <td><%=l party.created_at %></td>
        <td>
          <% if !party.user.nil? %>
            <% if party.state != 'Signed' %>
              <% if party.user.id == current_user %>
                <%= link_to "Sign", controller: "parties", action: "sign", party_id: party.id if party.state != 'Signed' && (party.state == 'Proposed' || party.code.author == current_user) %>
              <% else %>
                <%= link_to "Propose", controller: "parties", action: "propose", party_id: party.id if (party.state.nil? || party.state == '') && party.code.author == current_user %>
              <% end %>
            <% else %>
              <% if party.user.id == current_user && party.code.state != 'Signed' %>
                <%= link_to "Unsign", controller: "parties", action: "unsign", party_id: party.id if party.state == 'Signed' && party.code.contract.status != 'Pending' %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_party_path,
            :class => 'btn btn-primary' %>
